.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.App .main-content{
  flex: 1 0 66%;
}
/*.App .main-content .content{*/
/*  padding-top: 66px;*/
/*}*/
.missing-page{
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 150%;
}
.missing-page > span, .missing-page > p{
    width: 740px;
  }
