.CartItem{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  padding: 5px 3px;
  .cart-image{
    width: 75px;
    object-fit: contain;
  }
  .product-name{
    margin: auto;
  }
  .product-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    input{
      background: none;
      border: none;
      height: 20px;
      text-align: center;
      width: 100%;
    }
    button{
      border: none;
      background: none;
      cursor: pointer;
      img{
        width: 20px;
      }
    }
    button:first-of-type{
      img{
        transform: rotateZ(270deg);
      }
    }
    button:last-of-type{
      img{
        transform: rotateZ(90deg);
      }
    }
  }
}
